<div class="jumbotron">
	<h1>'Maaa, 'Maaa!</h1>
	<p class="lead">
		<img src="images/goat-shepherd-logo.jpg"
			alt="Welcome to the Goat Shepherd" /><br /> Ready to start
		shepherding your herd!
	</p>
	<p>
		<a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span
			class="glyphicon glyphicon-ok"></span></a>
	</p>
</div>

<div class="row marketing">
</div>